<h1>論文登録フォーム</h1>
<%= form_with model: @article, local: true do |form| %>
  <p>
    タイトル：<br>
    <%= form.text_field :title %>
  </p>
  <p>
    本文：<br>
    <%= form.text_area :body %>
  </p>
  <%= form.submit "登録" %>
<% end %>